*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.App {
  background-color: #fff;
  padding: 1.5rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  transition: 0.4s;
  position: relative;
  overflow-x: hidden;
}

.App__dark{
  background-color: black;
  color: #fff;
}

.logo__container{
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode-toggler {
  display: flex;
  align-items: center;
  color: #333;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 8px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #49b265;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.label {
  margin-left: 8px;
}

.FallBack{
  width: 100%;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.error__message{
  margin-top:.5rem;
  text-align: center;
}

.Search {
  width: 100%;
  border-radius: 10px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input__prompt {
  font-size: 1.2rem;
}

.input-container {
  position: relative;
}

.search__input {
  outline: none;
  width: 100%;
  text-indent: 7px;
  padding: 0.5rem 0;
  border-radius: 10px;
  border: #49b265 2px solid;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #49b265;
  width: 45px;
  height: 31px;
  border-radius: 0 9px 9px 0;
  cursor: pointer;
  position: absolute;
  right: 1.5px;
  top: 50.5%;
  transform: translateY(-50%);
  border:none;
}

.Word{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

.word__display__audio{
  width: 100%;
  border-radius: 10px;
  padding: .5rem;
  display:flex;
  flex-direction: column;
  gap: 15px;
}

.word__audio{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.word__text {
  font-size: 2.2rem;
  width: 70%;
  word-wrap: break-word;
}

.play__button{
  background-color: #49b265;
  color: #ffffff;
  border: none;
  padding: .8rem;
  border-radius: 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.word__phonetic {
  font-size: 1.3rem;
  width: 100%;
  word-wrap: break-word;
}

.meanings{
  width: 100%;
  border-radius: 10px;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.meaning__example{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.part__of__speech{
  font-size:1.5rem;
  width: 100%;
  border-bottom: #49b265 solid 2px;
  border-radius: 2px;
}

.definition__example{
  padding-left:.5rem;
}

.definition__container{
  list-style: none;
  padding: 0;
  margin: 0;
}

.word__definition{
  padding-left: .5rem;
}

.word__definition::before {
  content: "\2022";
  color: #49b265;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.word__example{
  padding-left:.5rem;
  opacity: .8;
}

.image__container{
  width: 100%;
  border-radius: 10px;
  padding: .5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 15px;
  grid-template-columns: 100%;
}

.image{
  border-radius: 20px;
  width: 100%;
  height: 220px;
}

.attribution{
  font-size:1.13rem;
}

.attribution>a{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

@media only all and (min-width: 660px) {
  .image__container{
    grid-template-columns: repeat(2,50%);
  }

  .App {
    padding: 2.5rem;
  }
}

@media (min-width: 992px) {
  .image__container{
    grid-template-columns: repeat(3,33.3%);
  }
  .App {
    padding: 3rem 8rem;
  }
}